<launch>
    <!-- 全局参数 -->
    <!-- <rosparam command="load" file="$(find connectivity_exploration)/param/pubSCP.yaml"/> -->
    <rosparam command="load" file="$(find connectivity_exploration)/param/clutter_env.yaml"/>

    <arg name="lambda_prefer" default="0.001"/>
    <arg name="flip_radius" default="800"/>
    <arg name="use_dk" default="false"/>
    <arg name="enable_mst" default="true"/>
    <arg name="enable_record" default="true"/>
    <arg name="exp_suffix" default=""/>

    <param name="lambda_prefer" value="$(arg lambda_prefer)"/>
    <param name="flip_radius" value="$(arg flip_radius)"/>
    <param name="use_dk" value="$(arg use_dk)"/>
    <param name="enable_mst" value="$(arg enable_mst)"/>
    <param name="enable_record" value="$(arg enable_record)"/>
    <param name="exp_suffix" value="$(arg exp_suffix)"/>

    <param name="control_rate" value="30"/>
    <param name="step" value="0.05"/>

    <param name="basic_scaling_factor" value="0.6"/>
    <param name="leader_scaling_factor" value="1.2"/>
    <param name="leader_crucial_connectivity_force" value="40"/>
    <param name="leader_crucial_scaling_factor" value="0.99"/>
    <param name="all_crucial_connectivity_force" value="60"/>
    <param name="all_crucial_scaling_factor" value="0.0"/>

    <param name="d_los_min" value="0.1"/>
    <param name="d_los_max" value="1.2"/>


    
    <group ns="/robot_1">
        <node pkg="connectivity_exploration" type="scan_filter" name="scan_filter">
            <param name="namespace" value="robot_1"/>
        </node>

        <node pkg="connectivity_exploration" type="pub_flipped_convexhull" name="pub_flipped_convexhull" output="screen">
            <param name="namespace" value="robot_1"/>
            <param name="color_r" value="1" />
            <param name="color_g" value="0.129" />
            <param name="color_b" value="0.0" />
        </node>
    </group>

    <group ns="/robot_2">
        <node pkg="connectivity_exploration" type="scan_filter" name="scan_filter">
            <param name="namespace" value="robot_2"/>
        </node>

        <node pkg="connectivity_exploration" type="pub_flipped_convexhull" name="pub_flipped_convexhull" output="screen">
            <param name="namespace" value="robot_2"/>
            <param name="color_r" value="0.278" />
            <param name="color_g" value="0.769" />
            <param name="color_b" value="0.086" />
        </node>
    </group>

    <group ns="/robot_3">
        <node pkg="connectivity_exploration" type="scan_filter" name="scan_filter">
            <param name="namespace" value="robot_3"/>
        </node>

        <node pkg="connectivity_exploration" type="pub_flipped_convexhull" name="pub_flipped_convexhull" output="screen">
            <param name="namespace" value="robot_3"/>
            <param name="color_r" value="0.0" />
            <param name="color_g" value="0.349" />
            <param name="color_b" value="1.0" />
        </node>
    </group>


    <group ns="/robot_4">
        <node pkg="connectivity_exploration" type="scan_filter" name="scan_filter">
            <param name="namespace" value="robot_4"/>
        </node>

        <node pkg="connectivity_exploration" type="pub_flipped_convexhull" name="pub_flipped_convexhull" output="screen">
            <param name="namespace" value="robot_4"/>
            <param name="color_r" value="0.757" />
            <param name="color_g" value="0.02" />
            <param name="color_b" value="0.969" />
        </node>
    </group>

    <node pkg="connectivity_exploration" type="multi_exploration.py" name="controller" output="screen">
    </node>

    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find connectivity_exploration)/rviz/run.rviz">
    </node>

</launch>
